# EditorConfig is awesome: https://EditorConfig.org

# Top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# C++ files
[*.{cpp,hpp,cc,hh,c,h,cxx}]
indent_style = space
indent_size = 4
max_line_length = 100

# CMake files
[{CMakeLists.txt,*.cmake}]
indent_style = space
indent_size = 2

# Shell scripts
[*.sh]
indent_style = space
indent_size = 2

# YAML files
[*.{yml,yaml}]
indent_style = space
indent_size = 2

# JSON files
[*.json]
indent_style = space
indent_size = 2

# Markdown files
[*.md]
max_line_length = 80
trim_trailing_whitespace = false

# Go files
[*.go]
indent_style = tab
indent_size = 4

# Makefile
[Makefile]
indent_style = tab

# Package files
[{package.json,package-lock.json}]
indent_style = space
indent_size = 2

# vcpkg configuration
[vcpkg.json]
indent_style = space
indent_size = 2
